html {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.main_content {
    position: relative;
    top: 6rem;
}

/* Header Section */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: bisque;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.content img {
    width: 25%;
}

.content {
    display: flex;
    /* border: solid 1px #c6c1c1; */
    justify-content: center;
}

header nav {
    display: flex;
}

nav span {
    padding: 0px 12px;
}




/* About Section */

.about_container {
    display: flex;

}
#about_section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #c6c1c1;
    width: 50%;
}

/* Tier Section */

.tier_selection_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 4rem;
    padding: 1rem;
    background-color: darkgray;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    width: 100%;
}

.tier_container {
    display: block;
    text-align: center;
    border: solid 1px #c6c1c1;
    background-color: beige;
    padding: 0rem 2rem;
    border-radius: 15px;
}

.pricing_image {
    display: flex;
    height: 5rem;
    align-content: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.tier_descrip{
    display: flex;
    align-content: center;
    max-width: 20rem;
    min-height: 5rem;
    margin-bottom: 2rem;
}

.subscribe_button {
    justify-self: center;
    border: solid 2px black;
    border-radius: 15px;
    background-color: lightblue;
    margin-bottom: 2rem;
}

.subscribe_button:hover {
    background-color: lightgrey;
    cursor: pointer;
}
